# Database Manipulation  

In this ICE, we will be learning about database manipulation.  
To demonstrate my practice in SQL, I will paste some basic SQL code that I learned from the `dataquest` platform.  
(All code is in SQL format.)

In [1]:
# Returning first 10 rows from a table:
SELECT *
    FROM recent_grads
    LIMIT 10;

SyntaxError: invalid syntax (<ipython-input-1-f0c1c25f7850>, line 2)

In [2]:
# Selecting a filtered result of the data:
SELECT Major, Sharewomen
    FROM recent_grads
    WHERE ShareWomen < 0.5;

SyntaxError: invalid syntax (<ipython-input-2-7f9f86ab43d2>, line 2)

In [3]:
# Filtering results using multiple criteria:
SELECT Major, Major_category, Median, ShareWomen
    FROM recent_grads
    WHERE ShareWomen > 0.5
    AND Median > 50000;

SyntaxError: invalid syntax (<ipython-input-3-a318bd3d4db4>, line 2)

In [4]:
# Filtering resutlts with the OR clause:
SELECT Major, Median, Unemployed
    FROM recent_grads
    WHERE Median >= 10000
    OR Unemployed <= 1000
    LIMIT 20;

SyntaxError: invalid syntax (<ipython-input-4-9970cf3ae1c1>, line 2)

In [5]:
# Using AND or OR with parentheses:
SELECT Majoe, Major_categry, ShareWomen, Unemployment_rate
    FROM recent_grads
    WHERE (Major_category = 'Engineering')
    AND (ShareWomen > 0.5 OR Unemployment_rate < 0.051);

SyntaxError: invalid syntax (<ipython-input-5-023fc88ee847>, line 2)

In [ ]:
# Ordering Results:
SELECT Major, ShareWomen, Unemployment_rate
    FROM recent_grads
    WHERE ShareWomen > 0.3 AND Unemployment_rate < 0.1
    ORDER BY ShareWomen DESC;