In [1]:
!pip install pyBKT

Collecting pyBKT
  Downloading pyBKT-1.4.tar.gz (32.7 MB)
Requirement already satisfied: numpy in c:\users\kanyy\anaconda3\lib\site-packages (from pyBKT) (1.19.2)
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: pandas in c:\users\kanyy\anaconda3\lib\site-packages (from pyBKT) (1.1.3)
Requirement already satisfied: requests in c:\users\kanyy\anaconda3\lib\site-packages (from pyBKT) (2.27.1)
Requirement already satisfied: scikit-learn in c:\users\kanyy\anaconda3\lib\site-packages (from sklearn->pyBKT) (0.23.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kanyy\anaconda3\lib\site-packages (from pandas->pyBKT) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\kanyy\anaconda3\lib\site-packages (from pandas->pyBKT) (2020.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kanyy\anaconda3\lib\site-packages (from requests->pyBKT) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\kanyy\anaconda3\lib\site-packages (from requests->pyBKT) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kanyy\anaconda3\lib\site-packages (from requests->pyBKT) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\kanyy\anaconda3\lib\site-packages (from requests->pyBKT) (2.0.4)
Requirement already satisfied: scipy>=0.19.1 in c:\users\kanyy\anaconda3\lib\site-packages (from scikit-learn->sklearn->pyBKT) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kanyy\anaconda3\lib\site-packages (from scikit-learn->sklearn->pyBKT) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\kanyy\anaconda3\lib\site-packages (from scikit-learn->sklearn->pyBKT) (0.17.0)
Requirement already satisfied: six>=1.5 in c:\users\kanyy\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pyBKT) (1.15.0)
Building wheels for collected packages: pyBKT, sklearn
  Building wheel for pyBKT (setup.py): started
  Building wheel for pyBKT (setup.py): finished with status 'done'
  Created wheel for pyBKT: filename=pyBKT-1.4-py3-none-any.whl size=34398 sha256=41a6293715e2b32ca81156d59bb15e9425e02d68a5d007658b1d912b2f7e5a28
  Stored in directory: c:\users\kanyy\appdata\local\pip\cache\wheels\bc\ae\42\9ee776bb5ef74681678fc76c4a92d1ee3ffdd242e7d3529078
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1321 sha256=f4871e14438c0feb126800950527a5a8b3cd25c3a635824a56aed849d051fda2
  Stored in directory: c:\users\kanyy\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built pyBKT sklearn
Installing collected packages: sklearn, pyBKT
Successfully installed pyBKT-1.4 sklearn-0.0

In [18]:
import numpy as np
import pandas as pd
from pyBKT.models import Model
import matplotlib.pyplot as plt

In [19]:
model = Model(seed = 42, num_fits = 1)

In [20]:
# fetch datasets
# ct.csv is data on cognitive training
model.fetch_dataset('https://raw.githubusercontent.com/CAHLR/pyBKT-examples/master/data/as.csv', '.')
model.fetch_dataset('https://raw.githubusercontent.com/CAHLR/pyBKT-examples/master/data/ct.csv', '.')

In [21]:
ct_df = pd.read_csv('ct.csv', encoding = 'latin')
ct_df.head()

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,1576,1927,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-001,1,SimplifiedNumeratorQuantity1,2006-11-14 10:18:00.0,2006-11-14 10:18:05.0,2006-11-14 10:18:05.0,2006-11-14 10:18:05.0,5.00000,5.00000,nan,1,0,0,1,Calculate unit rate,1
1,1580,1931,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-001,1,SimplifiedNumeratorQuantity2,2006-11-14 10:18:11.0,2006-11-14 10:18:17.0,2006-11-14 10:18:34.0,2006-11-14 10:18:34.0,23.00000,nan,23.00000,0,1,0,1,Calculate unit rate,2
2,1596,1947,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-012,1,SimplifiedNumeratorQuantity1,2006-11-14 10:50:52.0,2006-11-14 10:50:57.0,2006-11-14 10:51:11.0,2006-11-14 10:51:11.0,18.00000,nan,18.00000,0,1,0,1,Calculate unit rate,3
3,1597,1948,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-012,1,SimplifiedNumeratorQuantity2,2006-11-14 10:51:11.0,2006-11-14 10:51:14.0,2006-11-14 10:51:14.0,2006-11-14 10:51:14.0,3.00000,3.00000,nan,1,0,0,1,Calculate unit rate,4
4,1612,1963,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-054,1,SimplifiedNumeratorQuantity2,2006-11-28 09:53:43.0,2006-11-28 09:53:47.0,2006-11-28 09:53:56.0,2006-11-28 09:53:56.0,13.00000,nan,13.00000,0,1,0,1,Calculate unit rate,5

In [22]:
as_df = pd.read_csv('as.csv', encoding = 'latin', low_memory = False)
as_df.head()

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,0,3,32454,30799,nan,26,0,nan,1,1.00000
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,0,3,4922,30799,nan,55,0,nan,2,2.00000
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,0,3,42000,30799,nan,88,0,nan,1,1.00000
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,0,3,4859,30059,nan,41,0,nan,2,2.00000
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,3,4,124564,30060,nan,65,0,0.00000,3,3.00000

In [23]:
# Fit BKT model (When skills are not specified, it trains a separate model on all skills by default)
model.fit(data_path = 'ct.csv')

In [24]:
# We can train on a subset of skills by specification on the skills parameter
model.fit(data_path = 'ct.csv', skills = ".*fraction.*")
print("Fitted Skills:\n%s" % '\n'.join(model.coef_.keys()))

Fitted Skills:
Plot non-terminating improper fraction
Plot terminating proper fraction
Calculate part in proportion with fractions
Calculate total in proportion with fractions

In [25]:
# Evaluate with the default RMSE then specify AUC.
model.fit(data_path = 'ct.csv')
training_rmse = model.evaluate(data = ct_df)
training_auc = model.evaluate(data_path = "ct.csv", metric = 'auc')
print("Training RMSE: %f" % training_rmse)
print("Training AUC: %f" % training_auc)

Training RMSE: 0.454265
Training AUC: 0.706901

In [26]:
# Predicting with the model
model.fit(data_path = 'ct.csv', skills = ".*fraction.*")
preds = model.predict(data_path = 'ct.csv')
preds[['Anon Student Id', 'KC(Default)', 'Correct First Attempt', 
       'correct_predictions', 'state_predictions']].head(5)

,Anon Student Id,KC(Default),Correct First Attempt,correct_predictions,state_predictions
773,0I891Gg,Plot non-terminating improper fraction,0,0.50089,0.73868
774,0I891Gg,Plot imperfect radical,0,0.50000,0.50000
775,0I891Gg,Plot terminating proper fraction,0,0.52012,0.54648
776,0I891Gg,Plot pi,1,0.50000,0.50000
777,0I891Gg,Plot terminating proper fraction,1,0.46148,0.38037

In [27]:
# evaluate model
model.evaluate(data = ct_df)

0.44058430006609883

In [ ]:
# Cross-validation
model.crossvalidate(data_path = 'ct.csv', folds = 5)